.GroupList {
  list-style-type: none;
  border-left: var(--bs-gray-600) 1px solid;
  margin-left: 0.3rem;
  padding-left: 0.3rem;
}

.GroupToolButtonSizing{
  padding: 1px 6px;
}

.GroupToolIconSizing{
  font-size: 1rem;
}

.GroupItemSelected {
  background-color: var(--bs-primary-bg-subtle);
}

.GroupName {
  cursor: pointer;
  text-decoration: none;
  width: 70%;
  display: inline-flex;
  overflow: hidden;
  margin: 1px;
  white-space: nowrap;
}

.GroupName:hover { 
  text-decoration: underline;
  margin: 0px;
  border: var(--bs-link-hover-color) 1px dotted;
}