.rotate_image {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.TagGroupColumnCommon {
  height: calc(70vh - 17px);
  overflow: scroll;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}

.TagGroupAvailableColumn {
  border: solid 1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 1px;
  padding-bottom: 0px;
  margin-right: 5px;

}

.TagGroupInColumn {
  border: solid 1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 1px;
  padding-bottom: 0px;
  margin-left: 5px;
}

.TagGroupItem {
  margin: 10px;
  width: fit-content;
  padding-left: 12px;
  padding-right: 12px;
  display:block;
}

.LoadingImage {
  position: relative;
  top: -1px;
  left: 4px;
}