.rotate_image {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.fileitem_deletebutton {
  position: relative; 
  border-radius:20px;
  width:34px;
  padding: 5px 0px;
  top:0.25rem;
  left:15.66rem;
  background:none;
  z-index: 5;
}

.fileitem_deletebutton:hover {
  background: fixed;
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
}

.fileitem_missingimagepos{
  position: relative;
  width: 75%;
  left: 3.95rem;
}

.fileitem_missingimageX {
  font-size: 4em;
  position: relative;
  top: 40%;
  left: -3rem;
}

.fileitem_image {
  margin-top: 2.0rem; 
  margin-bottom: 2.1875rem;
}

.fileitem_text {
  margin-top: 1rem; 
  padding-bottom: 1rem; 
  overflow-wrap: anywhere;
}

.folderView_tag {
  position: relative;
}

.folderView_tag > a {
  margin-left: 5px;
  color: var(--bs-gray-600) !important;
  display: inline-block;
}

.folderView_tag:hover > a:hover {
  color: var(--bs-secondary) !important;
  cursor: pointer;
}

.folderView_defaultAnchor {
  text-decoration: none;
}

.folderView_defaultAnchor:hover {
  text-decoration: underline;
  cursor: pointer;
}

.folderItem_removeGroupFolder_dash {
  font-size: 0.75rem;
  padding: 0px;
  margin: 0px;
  position: relative;
  top: -2px;
  left: 1px;
}

.folderItem_removeGroupFolder {
  position: relative;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: 0px;
  top: 0.15rem;
  left: 0.15rem;
  background: none;
  float: left;
}

.folderItem_removeGroupFolder:hover {
  background: fixed;
  background-color: var(--bs-secondary);
  color: var(--bs-primary);
}
